@model EditoraListViewModel
@{
ViewBag.Title = "Removendo Editora";
Layout = "_Layout";
}

<h1 class="display-6 my-5">Removendo Editora</h1>

<form asp-action="Delete">
    <div class="row mb-2">
        <label asp-for="EditoraNome" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="EditoraNome" readonly class="px-3 form-control form-control-plaintext" />
        </div>
    </div>

    <div class="row mb-2">
        <label asp-for="EditoraCidade" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="EditoraCidade" readonly class="px-3 form-control form-control-plaintext" />
        </div>
    </div>

    <div class="row mb-2">
        <label asp-for="EditoraUF" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="EditoraUF" readonly class="px-3 form-control form-control-plaintext" />
        </div>
    </div>

    <input type="submit" value="Apagar" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary" role="button">Retornar ao índice</a>
</form>
