@model LivroEditoraAutorEditViewModel
@{
    ViewBag.Title = "Gerenciamento de livros";
    Layout = "_Layout";
}

<h1 class="display-6 my-5">Adicionando livro</h1>


<form asp-action="Create">
    <div class="form-group mb-4">
        <label for="Titulo" class="form-label">Título</label>
        <input asp-for="Titulo" id="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label for="Paginas" class="form-label">Páginas</label>
        <input asp-for="Paginas" id="Paginas" class="form-control" />
        <span asp-validation-for="Paginas" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label for="Ano" class="form-label">Ano</label>
        <input asp-for="Ano" id="Ano" class="form-control" />
        <span asp-validation-for="Ano" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label for="ISBN" class="form-label">ISBN</label>
        <input asp-for="ISBN" id="ISBN" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label for="EditoraID" class="form-label">Editora</label>
        <select asp-for="EditoraID" id="EditoraID" asp-items="Model.EditoraInputSelect" class="form-control form-select">
            <option value="" disabled selected>Selecione a Editora</option>
        </select>
        <span asp-validation-for="EditoraID" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary" role="button">Retornar ao índice</a>
</form>
